<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width">
    </head>

    <body>

        <h1>{{ title }}</h1>

        <main>

            {{ content | safe }}
        </main>

    </body>

    <footer>
        <a href="https://github.com/btrem/11ty-2574">Test 11ty project available on Github.</a>
        Test project created by
        <a href="https://github.com/btrem">btrem</a>.
    </footer>

</html>
